
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/Main.cshtml";
}


<div class="modal" id="addProduct">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Add Products</h4>
            </div>
@using (Html.BeginForm("AddProduct","Product",FormMethod.Post, new { @id="addProduct2"}))
{
            <div class="modal-body">
        

             
            
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Product Name:</label>
                        @*<input type="text" class="form-control" id="recipient-name">*@
                        @Html.TextBox("Name", "", new { @class= "form-control",@id= "recipient-name1" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Price:</label>
                        @*<input type="text" class="form-control" id="recipient-name">*@
                        @Html.TextBox("Price", "", new { @class= "form-control",@id= "recipient-name2" })
                    </div>


            </div>

            <div class="modal-footer">
               @* <button class="btn btn-primary" id="submit_product">Create</button>*@
               <input type="button" class="btn btn-info"  id="submit_product" value="add product"/>
   <button class="btn btn-default" data-dismiss="modal" id="cancel_product">Cancel</button>
            </div>
                }
        </div>
               
    </div>
              
</div>

<button type="button" class="btn btn-danger btn-add-product" data-toggle="modal" data-target="#addProduct">Add Products</button>



<div class="customer-list">
    <div class="container">
        <!-- On rows -->
        <table class="table">
            <caption>Products List</caption>
            <thead>
                <tr>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>
                @if(ViewBag.list != null)
                {

                    foreach (Hao_CRUD_APP_2.Models.Product item in ViewBag.list)
                    {



                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td><a class="btn btn-primary" href="/Product/LoadingModifyProduct?productId=@item.Id" role="button">Modify</a><a class="btn btn-primary btn-product-delete delPro" href="javascript:void()" name="@item.Id" role="button">Delete</a>
                    
                    
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<script src="~/Scripts/jquery-1.4.1.min.js"></script>
<script src="~/Scripts/validation-min.js"></script>

<script type="text/javascript">





    $(function () {

        // data validation

        $("#addProduct2").valid([

            { name:"Name", isNull: "The product name can not be null", onFocus: "Please fill in product name" },
            { name: "Price", isNull: "The price can not be null", onFocus: "Please fill in the product price" }, true
        ]);

      


        // add product 
        $("#submit_product").click(function () {
            $("#addProduct2").submit(function () {
           
               
           
                

                    $.ajax({
                        type: "POST",
                        timeout: 30000,
                        url: "/Product/AddProduct",
                        data: $("#addProduct2").serialize(),
                        dataType: 'html',
                        success: function (data) {
                            if (data == "success") {
                                
                                alert('Add Product Successfully'); location.href = "/Product/ProductList";
                            } else {
                          

                                alert('Can you add again?'); location.href = "/Product/ProductList";;
                            }
                        }
                    });

             
            


            });
            $("#addProduct2").submit();
        });

        //delete product
        $(".delPro").click(function () {
            if (!confirm("Are your sure to delete?")) return;
            var productId = $(this).attr("name");
            $.post("/Product/DeleteProduct", { "productId": productId }, function (data, status) {
                if (data == "deleteProduct") {
                    $("#" + productId).remove();
                    alert("Delete Successfully")
                    location.href = "/Product/ProductList";
                }
                else {
                    alert("Delete error")
                    location.href = "/Product/ProductList";
                }
            });
        });
    });
  

   

</script>