
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/Main.cshtml";
}

<div class="modal" id="myModal" tabindex="-1">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>

                <h4 class="modal-title">Add Customer</h4>

            </div>
@using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post, new { @id = "add-customer-form" }))
{
            <div class="modal-body">
              

                 
            
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Username:</label>
                        @*<input type="text" class="form-control" id="recipient-name">*@
                        @Html.TextBox("Name", "", new { @class= "form-control" })
                    </div>
                   
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Address:</label>
                        @*<input type="text" class="form-control" id="recipient-name">*@
                        @Html.TextBox("Address", "", new { @class= "form-control" })
                    </div>
         
              
            </div>

            <div class="modal-footer">
                @*<button class="btn btn-primary">Create</button>*@
                <input type="button" class="btn btn-info" id="submit_customer" value="Add Customer" />
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>


            </div>
}
        </div>
    </div>

</div>


<button type="button" class="btn btn-primary btn-add-customer" data-toggle="modal" data-target="#myModal">Add Customers</button>
<div class="customer-list">
    <div class="container">
        <!-- On rows -->
        <table class="table">
            <caption>Customers List</caption>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Customer Address</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>

                @if( ViewBag.list != null)
                {
                    foreach(Hao_CRUD_APP_2.Models.Customer item in ViewBag.list )
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Name</td>
                            <td>@item.Address</td>
                            <td><a class="btn btn-primary" href="/Customer/LoadingModifyCustomer?productId=@item.Id" role="button">Modify</a><a class="btn btn-primary btn-customer-delete delCustomer" href="javascript:void()" name="@item.Id" role="button">Delete</a></td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/jquery-1.4.1.min.js"></script>
<script src="~/Scripts/validation-min.js"></script>

<script type="text/javascript">





    $(function () {

        // data validation

        $("#add-customer-form").valid([

            { name:"Name", isNull: "The product name can not be null", onFocus: "Please fill in product name" },
            { name: "Address", isNull: "The address can not be null", onFocus: "Please fill in the address" }, true
        ]);




        // add product
        $("#submit_customer").click(function () {
            $("#add-customer-form").submit(function () {





                    $.ajax({
                        type: "POST",
                        timeout: 30000,
                        url: "/Customer/AddCustomer",
                        data: $("#add-customer-form").serialize(),
                        dataType: 'html',
                        success: function (data) {
                            if (data == "success") {

                                alert('Add Customer Successfully'); location.href = "/Customer/CustomersList";
                            } else {


                                alert('Can you add again?'); location.href = "/Customer/CustomersList";;
                            }
                        }
                    });





            });
            $("#add-customer-form").submit();
        });

        //delete product
        $(".delCustomer").click(function () {
            if (!confirm("Are your sure to delete?")) return;
            var customerId = $(this).attr("name");
            $.post("/Customer/DeleteCustomer", { "customerId": customerId }, function (data, status) {
                if (data == "success") {
                    $("#" + customerId).remove();
                    alert("Delete Successfully")
                    location.href = "/Customer/CustomersList";
                }
                else {
                    alert("Delete error")
                    location.href = "/Customer/CustomersList";
                }
            });
        });
    });




</script>